apiVersion: apps/v1
kind: Deployment
metadata:
  name: cheese
  labels:
    app: cheese
spec:
  replicas: "3"
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: cheese
  template:
    metadata:
      labels:
        app: cheese
        tier: cheese
    spec:
      containers:
      - name: cheese
        image: theunghee02/open-sw-cheese:latest
        imagePullPolicy: Always
        env:
        - name: jwtsecret
          value: jwtsecretvalue
        - name: DB_HOST
          value: DB_HOSTvalue
        - name: DB_NAME
          value: DB_NAMEvalue
        - name: DB_USER
          value: DB_USERvalue 
        - name: DB_PW
          value: DB_PWvalue
        - name: OPENAI_API_KEY
          value: OPENAI_API_KEYvalue
        - name: SENS_SERVICE_ID
          value: SENS_SERVICE_IDvalue
        - name: SENS_ACCESS_KEY
          value: SENS_ACCESS_KEYvalue 
        - name: SENS_MYPHONENUM
          value: SENS_MYPHONENUMvalue    
        - name: SENS_SECRET_KEY
          value: SENS_SECRET_KEYvalue   
        ports:
        - containerPort: 5000
          name: cheese
---
apiVersion: v1
kind: Service
metadata:
  name: cheese
  labels:
    app: cheese
spec:
  ports:
  - port: 80
    targetPort: 5000
  selector:
    app: cheese
    tier: cheese
  type: LoadBalancer
